
<table>
<tr>
  <td rowspan="2"><?php echo $this->Html->image($post['Post']['image_url'],array('width' => '300px', 'high' => '300px')); ?></td>
  <td><b>Topic Title : </b><?php echo h($post['Post']['title']); ?></td>
</tr>
<tr>
  <td><b>Body : </b></th><?php echo h($post['Post']['body']); ?></td>
</tr>
</table>

<h2><?php __('Post Details');?></h2>
<!--<?php debug($post); ?>-->

<table>
<tr>
<th>Id</th>
<th>User</th>
<th>Comment</th>
<th>Image</th>
<th>Action</th>
</tr>
  <?php foreach ($post['Comment'] as $key => $id ): ?>

       <tr>
       <td><?php echo  $id['id'];?></td>
     
       <td><?php echo  $id['name'];?></td>
       <td><?php echo  $id['body'] ,'<br>'; ?></td>
       <td><?php echo  $this->Html->image($id['imgcom'],array('width' => '100px', 'high' => '100px')); ?></td>
       
       <td><?php echo  $this->Form->postLink('Delete',array('controller'=>'posts','action' => 'deletecom', $id['id'],$id['foreign_id']),array('confirm' => 'Are you sure?'));
                
                 echo  $this->Html->Link('Edit', array('controller' => 'posts','action' => 'editcom', $id['id'],$id['foreign_id'])); ?> </td>
       </tr>
    <?php endforeach; ?>
</table>
        
<?php echo $this ->Form -> create('Comment',array('enctype' => 'multipart/form-data','type' => 'file'),array('url'=>array('controller'=>'posts','action'=>'view',$post['Post']['id']))); ?>

 <fieldset>
        <legend><?php __('Add Comment');?></legend>
       
   <?php echo $this ->Form->input('Comment.body'); 
          echo $this->Form->input('Comment.imgcom',array('type'=>'file'));   ?>
 </fieldset>
  
<?php echo $this ->Form->end('Submit').$this->Form->postButton('HOME', array('controller'=>'posts','action'=>'index'));